#keymap default
q setInterface(main)
		    
o   setInterface(EffectControls)
O   setInterface(Options)
?   setInterface(Help)
F1  setInterface(Help)
F2  setInterface(EffectControls)
F3  setInterface(Options)
F4  toggleFPS()
F5  setInterface(sound)
F6  setInterface(mixer)
F7  setInterface(playList)
F8  setInterface(playList)
		  
F9   setInterface(display)
F10  setInterface(flame)
F11  setInterface(border)
F12  setInterface(translate)
F13  setInterface(wave)
F14  setInterface(table)
F15  setInterface(waveScaling)
F16  setInterface(object)
F17  setInterface(palette)
F18  setInterface(image)
F19  setInterface(flashlight)

Left  prevInterface()
Right nextInterface()
		  
Up   up(1)
Down down(1)
home home()
end  end()

.    toggleStatus()
,    toggleStatus()



#keymap main
q credits()
Q quit()
c openControlPanel()
C stopAndContinue()
    
d screenChg(+1)
D screenChg(-1)
z zoomChg(+1)
Z zoomChg(-1)
f flameChg(+1)
F flameChg(-1)
g flameGeneral()
w waveChg(+1)
W waveScaleChg(+1)
j objectChg(+1)
J objectChg(-1)
t translateChg(+1)
T translateChg(-1)
m soundProcessChg(+1)
M soundProcessChg(-1)
s flashlightChg(+1)
S flashlightChg(-1)
p paletteChg(+1)
P paletteChg(-1)
b tableChg(+1)
B tableChg(-1)
x imageChg(+1)
X imageChg(-1)
l lockChg()
L lockChg()

r randomPalette()
R newRandomPalette()

a writeIni()
A writeIni()

backSpace restore()
h toggleSave()
0 saveOrRestore(0)
1 saveOrRestore(1)
2 saveOrRestore(2)
3 saveOrRestore(3)
4 saveOrRestore(4)
5 saveOrRestore(5)
6 saveOrRestore(6)
7 saveOrRestore(7)
8 saveOrRestore(8)
9 saveOrRestore(9)

\ changeAll()
return changeOne()

S-0 save(0)
S-1 save(1)
S-2 save(2)
S-3 save(3)
S-4 save(4)
S-5 save(5)
S-6 save(6)
S-7 save(7)
S-8 save(8)
S-9 save(9)


#keymap help
up   scrollUp()
down scrollDown()
\\   toggleScrolling()
?    setInterface(main)
F1   setInterface(main)


#keymap Sound
F5 setInterface(main)

#keymap Options
Q setInterface(main)
O setInterface(main)


#keymap EffectControls
o setInterface(main)
O setInterface(options)

#keymap OptionElement
Right chgValue1(+1)
Left  chgValue1(-1)
+     chgValue2(+1)
-     chgValue2(-1)
*     chgValue3(+1)
/     chgValue3(-1)
0     setValue(0)
1     setValue(1)
2     setValue(2)
3     setValue(3)
4     setValue(4)
5     setValue(5)
6     setValue(6)
7     setValue(7)
8     setValue(8)
9     setValue(9)

#keymap EffectControlElement
l   lockElement()



#keymap ListOption
Right  toggleUse()
Left   toggleUse()
+      toggleUse()
-      toggleUse()
/      toggleUse()
*      toggleUse()
Return setInterface(main) activate()
\\     activate()
